<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<script src="../../js/jq/jquery-1.11.3.js"></script>
	<link href="../../css/bootstrap/bootstrap.min.css" rel="stylesheet">
	<script src="../../js/bootstrap/bootstrap.min.js"></script>
	<meta charset="UTF-8" />
	<title>风火雷电</title>
	<script src="../../js/vue/vue.min.js"></script>
	<script src="../../js/vue/vue-router.min.js"></script>
	<link href="../../css/iecas/bootstrap.iecas.css" rel="stylesheet"></link>
	<style>
		p{
		  margin-left:10px;
		  margin-top:10px;
		}
		ul{
			display:block;
			background-color:black;
			position:relative;
			top:-20px;
		}
	</style>
<body>
	<div class="alert alert-danger" role="alert" style="text-align:center;color:black;font-size:20px">元素种类</div>
	<ul id="myTab" class="nav nav-tabs">
	   <li class="active"><a href="#fengSource" data-toggle="tab">风</a></li>
	   <li><a href="#huoSource" data-toggle="tab">火</a></li>
	   <li><a href="#leiSource"  data-toggle="tab">雷</a></li>
	   <li><a href="#dianSource"  data-toggle="tab">电</a></li>
	   <li><a href="#yunSource"  data-toggle="tab">云</a></li>
	</ul>
	
	<div id="myTabContent" class="tab-content">
	   <div class="tab-pane fade in active" id="fengSource">
	      <p>《DotA》（Defense of the Ancients），可以译作守护古树、守护遗迹、远古遗迹守卫， 是由暴雪公司出品即时战略游戏《魔兽争霸3》的一款多人即时对战、自定义地图，可支持10个人同时连线游戏，是暴雪公司官方认可的魔兽争霸的RPG地图。</p>
	   </div>
	   
	   <div class="tab-pane fade" id="huoSource">
	      <p>《英雄联盟》（简称lol）是由美国Riot Games开发，中国大陆地区由腾讯游戏运营的网络游戏。</p>
	   </div>
	   
	   <div class="tab-pane fade" id="leiSource">
	      <p>《风暴英雄》 是由暴雪娱乐公司开发的一款运行在Windows和Mac OS上的在线多人竞技PC游戏。</p>
	      <p> 游戏中的英雄角色主要来自于暴雪三大经典游戏系列：《魔兽世界》、《暗黑破坏神》和《星际争霸》。它是一款道具收费的游戏，与《星际争霸Ⅱ》基于同一引擎开发。</p>
	   </div>
	   
	   <div class="tab-pane fade" id="dianSource">
	      <p>《300英雄》是由上海跳跃网络科技有限公司自主研发，深圳中青宝互动网络股份有限公司运营的一款类DOTA网游。游戏以7v7组队对抗玩法为主，提供永恒战场和永恒竞技场两种经典模式任由玩家选择，并创新性地加入勇者斗恶龙、克隆战争等多种休闲娱乐玩法。</p>
	   </div>
	   
	   <div class="tab-pane fade" id="yunSource">
	      <p>《300英雄》是由上海跳跃网络科技有限公司自主研发，深圳中青宝互动网络股份有限公司运营的一款类DOTA网游。游戏以7v7组队对抗玩法为主，提供永恒战场和永恒竞技场两种经典模式任由玩家选择，并创新性地加入勇者斗恶龙、克隆战争等多种休闲娱乐玩法。</p>
	   </div>
	</div>
	<div style="height:200px"></div>
</body>
</html>