<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="../../js/jq/jquery-1.11.3.min.js"></script>
  <script src="../../js/vue/vue.min.js"></script>
  <link rel="stylesheet" href="../../js/eui/eui212.min.css">
  <script src="../../js/eui/eui212.min.js"></script>
  <script src="../../js/eui/eui212-ZH-CN.min.js"></script>
    <script>
    	$(function(){
			var demo = new Vue({
			  el: '#demo',
			  data:{
				  radio1:'',
				  radio2:'',
				  radio3:'',
				  radiogrp:''
			  }
			})
    	})
  </script>
</head>
<body>
	<div id="demo">
		<el-radio v-model="radio1" border label="本田"></el-radio>
		<el-radio v-model="radio1" label=false></el-radio>
		<el-radio v-model="radio1" label=99></el-radio>
		<br/>
		<el-radio-group v-model="radiogrp">
			<el-radio  label="北京"></el-radio>
			<el-radio  label="南京"></el-radio>
			<el-radio  label="湛江"></el-radio>
		</el-radio-group>
	</div>
</body>
</html>

