<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Vue tmpl</title>
		<script src="../../js/jq/jquery-1.11.3.js"></script>
		<link href="../../css/bootstrap/bootstrap.min.css" rel="stylesheet" />
		<link href="../../css/bootstrap/bootstrap-select.min.css" rel="stylesheet" />
		<script src="../../js/bootstrap/bootstrap.min.js"></script>
		<script src="../../js/bootstrap/bootstrap-select.min.js"></script>
		<script src="../../js/vue/vue.min.js"></script>
		<script src="./tmpl.js"></script>
	  <style>
		.task {
			display: inline-block;
			position: relative;
			left:50px;
			width: 200px;
			height: 80x;
			margin: 10px;
			padding: 15px;
			background-color: #d9edf7;
			border-radius: 18px;
			color: #337ab7;
			text-decoration: none;
			font-size: 10px;
			font-family: Helvetica;
			border-spacing: 0;
			border-collapse: collapse;
		}
		.task:hover{
			background-color: #FFDEAD;
		}
		.SELECTED_Mark{
			background-color: #4EEE94;
		}
	</style>
</head>
<body>
<div id="tmpl" style="display:none">
	<div class="task" v-on:click="selectedMark">
	    <span class="name">
	        {{detailz.name}}
	    </span>
	    <span class="label-task pull-right" style="font-weight:bold">
	        {{detailz.labelt}}
	    </span>
	    <br/>
	    <span style="text-align:center ;display:block">{{detailz.owner}}+{{detailz.group}}</span>
	    <br/>
	    <span class="nanyi pull-right" >
	        [{{detailz.nanyi}}]
	    </span>
	</div>
</div>
	<div id="taskPool">
		<div  style="height:350px ;overflow-y:auto;" dir="ltr">
			<tentity dir="ltr" v-for="t in task_set" v-bind:detailz="t"></tentity>
		</div>
		<div style="height:350px ;overflow-y:auto;border:1px solid red" dir="ltr" > 
			<tentity dir="ltr" v-for="t in task_marked" v-bind:detailz="t"></tentity>
		</div>
	</div>	
	
	<div id="testIS">
		<zzy></zzy>
		<table class="table">
			<thead>
				<tr><td>日期</td><td>问题</td><td>负责人</td></tr>
			</thead>
			<tbody >
				<tr><td>2020.03.05</td><td>fusion</td><td>lqg</td></tr>
				<tr><td>2020.04.15</td><td>receive</td><td>xz</td></tr>
				<tr><zzy name="outer-name" type="radio"></zzy></tr> <!-- 这个会被提到table的外面 -->
				<tr is="zzy"></tr> <!-- 这个会被提到table的外面 -->
				<tr><td>2020.05.15</td><td>radar</td><td>ww</td></tr>
			</tbody>
		</table>
		
	</div>

</body>
</html>